# Python
__pycache__/
*.pyc

# Virtual Env
.venv/
venv/

# Environment Variables
.env

# Pytest
.pytest_cache/

# IDE
.idea/
.vscode/

# Streamlit cache
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db